// VARIABLES
$white:#fff;
$black: #000;
$titles:#232946;
$text:#b8c1ec;
$principal:#b8c1ec;
$principal-dark:darken($principal, 10%);
$principal-light:lighten($titles,20%);
$background:#eebbc3;


$desktop:1100px;
$tables: 790px;
$phone: 550px;